@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Indie Flower', cursive;
    background-color: #21182e;

}

/* HEADER */

.header-wrapper{
    height: 100vh;
    width: 100%;
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: backgroundTransition 8s ease-in-out infinite;
    position: relative;
}

.info {
    text-transform: uppercase;
    
    letter-spacing: 4px;
    color: rgb(109 0 119);
    text-shadow: rgb(109, 0, 119) 1px 1px 3px;
    transition: 0.5s ease-in-out;
    animation: shadowTransition 8s ease-in-out infinite;
}

/* h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: rgb(109, 0, 119) 1px 1px 3px;
} */

.social-midia{
    margin-top: 1rem;
    display: flex;
}

.social-midia a {
    text-decoration: nome;
    color: rgb(109 0 119);
    text-shadow: rgb(109, 0, 119) 1px 1px 2px;
    font-size: 32px;
    padding: 1rem 5rem;
    border: 3px solid white;
    box-shadow: 5px 4px 4px black;
    border-radius: 1px;
    min-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    animation: borderTransition 8s ease-in-out infinite;
}


a:hover{
    color: rgb(0, 119, 119); 
    font-size: 29px;
    letter-spacing: 1px;
    background-color: white;
    
}

@keyframes shadowTransition {
    0%{
        text-shadow: rgb(109, 0, 119) 1px 1px 3px; 
    }
    10%{
        text-shadow: rgb(255, 239, 8) 1px 1px 3px;
    }
    20%{
        text-shadow: rgb(0, 100, 8) 1px 1px 3px;
    }
    30%{
        text-shadow: rgb(0, 153, 255) 1px 1px 3px;
    }
    40%{
        text-shadow: rgb(255, 136, 0) 1px 1px 3px;
    }
    50%{
        text-shadow: rgb(255, 8, 243) 1px 1px 3px;
    }
    60%{
        text-shadow: rgb(8, 255, 255) 1px 1px 3px;
    }
    70%{
        text-shadow: rgb(255, 8, 8) 1px 1px 3px;
    }
    80%{
        text-shadow: rgb(177, 8, 255) 1px 1px 3px;
    }
    90%{
        text-shadow: rgb(127, 255, 8) 1px 1px 3px;
    }
    100%{
        text-shadow: rgb(109, 0, 119) 1px 1px 3px; 
    }
}

@keyframes borderTransition {
    0%{
        box-shadow: 0 0 0.5em rgb(109, 0, 119); 
        text-shadow: rgb(109, 0, 119) 1px 1px 3px; 
    }
    10%{
        box-shadow: 0 0 0.5em rgb(255, 239, 8);
        text-shadow: rgb(255, 239, 8) 1px 1px 3px;
    }
    20%{
        box-shadow: 0 0 0.5em rgb(0, 100, 8);
        text-shadow: rgb(0, 100, 8) 1px 1px 3px;
    }
    30%{
        box-shadow: 0 0 0.5em rgb(0, 153, 255);
        text-shadow: rgb(0, 153, 255) 1px 1px 3px;
    }
    40%{
        box-shadow: 0 0 0.5em rgb(255, 136, 0);
        text-shadow: rgb(255, 136, 0) 1px 1px 3px;
    }
    50%{
        box-shadow: 0 0 em rgb(255, 8, 243);
        text-shadow: rgb(255, 8, 243) 1px 1px 3px;
    }
    60%{
        box-shadow: 0 0 0.5em rgb(8, 255, 255);
        text-shadow: rgb(8, 255, 255) 1px 1px 3px;
    }
    70%{
        box-shadow: 0 0 0.5em rgb(255, 8, 8);
        text-shadow: rgb(255, 8, 8) 1px 1px 3px;
    }
    80%{
        box-shadow: 0 0 0.5em rgb(177, 8, 255);
        text-shadow: rgb(177, 8, 255) 1px 1px 3px;
    }
    90%{
        box-shadow: 0 0 0.5em rgb(127, 255, 8);
        text-shadow: rgb(127, 255, 8) 1px 1px 3px;
    }
    100%{
        box-shadow: 0 0 0.5em rgb(109, 0, 119); 
        text-shadow: rgb(109, 0, 119) 1px 1px 3px;
    }
}
    

@keyframes  backgroundTransition {
    0%{
        background-position: 0% 80%;
    }
    50%{ 
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER*/

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 3px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul{
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: rgb(109, 0, 119);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: rgb(52, 2, 56);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: rgb(52, 2, 56);
    top: 48px;
}

#toggle:checked + .checkbox{
    background-color: invisible;
    
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax rgb(252, 222, 255);
    z-index: 1;
}

#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;
}


/* CARDS */

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 2rem;

}

.card {
    height: 300px;
    width: 400px;
    /* margin: 3rem 0 0 0; */
    background-image: url('./img/room.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.7);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* .card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 4rem;
} */

.card-text-right {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 4rem;
}

.card-text-left {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 4rem;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transform: 0.3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 370px;
    height: 270px;
}

/* FOOTER */

.footer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    animation: backgroundTransition 8s ease-in-out infinite;
    position: relative;
    background-size: 400% 400%;

}

.footer p {
    font-size: 18px;
    color:#21182e
}

/* RESPANSIVO */

@media (max-width: 800px) {
    .social-midia {
        display: flex;
        flex-direction: column;
    }
    .info{
        padding: 2rem;
        text-align: center;
    }
    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text-left {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .card-text-right {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }


    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}