@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Indie Flower', cursive;
}

/* HEADER */

.header-wrapper{
    height: 100vh;
    width: 100%;
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-midia{
    margin-top: 1rem;
    display: flex;
}

.social-midia a{
    text-decoration: nome;
    color: white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97)
}

